
.itemListContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:1.5rem 2rem;

    &__titule {
        color: #942e2e;
    }
}