

.itemDetail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    &__sectionOne {
        display: flex;
        flex-direction: column;
        justify-content: center;    
        align-items: center;
        margin:1.5rem;
        flex-basis: 70%;

    }
    &__sectionTwo {
        padding:1.5rem;
        flex-basis: 30%;
        border: solid;
        border-color: rgb(234, 232, 232);
        border-radius: 0.5rem;

        &__button {
            width: 80%;

            &__link {
                width: 100%;
            }
        }
    }
}