

.itemDetailContainer {
    padding:2rem;
    margin: 0rem 3rem;
    display: center;

    &_texto {
        text-align: center;
    }
}


@media screen and (max-width: 540px) {
    .itemDetailContainer {
        padding:0rem;
        margin: 0rem;
    }
}
