

.cartItem {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    border-bottom: solid 0.15rem #fad5d5a9;
    padding: 1rem;
    margin-bottom: 0.5rem;

    &__img {
        flex-basis: 5%;
        max-width: 5%;
        max-height: 5%;
        margin: 0rem 1rem;
    }

    &__nombre {
        flex-basis: 30%;
        text-align: left;
    }

    &__precio {
        flex-basis: 20%;
        text-align: left;
    }

    &__cantidad {
        flex-basis: 25%;
        text-align: left;
    }

    &__costoItem {
        flex-basis: 10%;
        text-align: left;
        font-size: 1.2em;
        font-weight: 5em;
    }

    &__button {
        flex-basis: 10%;
        text-align: center;

    }
}

@media screen and (max-width: 540px) {
    .cartItem {
        padding: 0rem;
        padding-bottom: 0.3rem;

        &__img {
            display: none;
        }
    
        &__nombre {
            flex-basis: 35%;
            padding-right: 0.3rem;
        }
    
        &__precio {
            display: none;
        }
    
        &__cantidad {
            flex-basis: 42%;
            padding-right: 0.3rem;
        }
    
        &__costoItem {
            flex-basis: 10%;
            padding-right: 0.3rem;
        }
    
        &__button {
            flex-basis: 3%;
    
        }
    }
}