

a {
    text-decoration: none;
}

.precio {
    color: rgb(180, 179, 179);
}

.precioFinal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &__uno {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        &__descuento {
            padding-left: 0.5rem;
            color: rgb(74, 158, 74);
            font-size: 0.9em;
        }

    }

    &__dos {
        color:  rgb(74, 158, 74);
    }

}

