

a {
    text-decoration: none;
}

.precio {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &__precioInicial {
        color: rgb(180, 179, 179);
    }

    &__precioFinal {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    
            &__descuento {
                padding-left: 0.5rem;
                color: rgb(74, 158, 74);
                font-size: 0.9em;
            }
    }

}





