/*Variables*/
$color: #942e2e;

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    font-weight: 600;
    color: $color;

    &__img {
        margin: 0.3rem 1rem;
        font-size: 1.9em;
        transition: all .3s ease-in-out;

        &:hover {
            transform: scale(1.1, 1.1);
        }

        &__libro {
            color: $color;
        }

    }

    &__text {
        font-size: 1em;
    }
}

@media screen and (max-width: 540px) {
    .logo__text {
        display:none;
    }
}