
@mixin flex ($flex_direction, $justify_content, $align_items) {
    display: flex;
    flex-direction: $flex_direction;
    justify-content: $justify_content;
    align-items: $align_items;
}

.itemList {
    @include flex (row, center, stretch);
    font-size: 1em; 
    flex-wrap: wrap;
    margin: 2rem;
}