/*Mixinns*/
@mixin flex ($flex_direction, $justify_content, $align_items) {
  display: flex;
  flex-direction: $flex_direction;
  justify-content: $justify_content;
  align-items: $align_items;
}

p {
  margin-bottom: 0rem !important;
}


/*Header and Navbar*/
header {
  border-bottom: solid 0.3rem #f0e6e6;
  min-height: 10vh !important;

  .navbar {
      @include flex (row, space-between, center);

      &__centro {
          @include flex (column, center, center);
          flex-basis: 60%;
      }
    }
}