.carrito {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    margin: 0.1rem 0.5rem;
    transition: all .3s ease-in-out;
    color: #942e2e;

    &:hover {
        transform: scale(1.1, 1.1);
    }

    &__cantidad {
        font-size: 1rem;
    }

    &__img {
        font-size: 2rem;
    }
}