/*Normalize*/
/*Import font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,200;1,300;1,600;1,800&display=swap");
/*Normalize*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,200;1,300;1,600;1,800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Globals */
html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  font-weight: none;
  color: #942e2e;
  line-height: none; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: var(--color__third);
  display: inline-block; }

h2,
h3 {
  font-weight: bold; }

h2 {
  font-size: 3em; }

h3 {
  font-size: 2em; }

ol,
ul {
  padding: 0; }


/*Helpers*/
.container {
  max-width: 1080px;
  margin: 0 auto; }

/*Header and Navbar*/
header {
  border-bottom: solid 0.3rem #f0e6e6;
  min-height: 10vh; }
  header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    header .navbar__logo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5em;
      font-weight: 600; }
      header .navbar__logo__img {
        margin: 0.3rem 1rem;
        font-size: 2.2em;
        transition: all .3s ease-in-out; }
        header .navbar__logo__img:hover {
          transform: scale(1.1, 1.1); }
      header .navbar__logo__text {
        font-size: 1em; }
    header .navbar__busqueda {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-basis: 60%; }
      header .navbar__busqueda__local {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;
        margin-bottom: 0.2rem;
        border-radius: 0.8rem;
        border: solid 0.2rem #cbcaca;
        width: 100%; }
        header .navbar__busqueda__local__campo {
          flex-basis: 90%;
          margin: 0rem 1rem;
          padding: 0.8rem 0rem;
          border: none;
          outline: none; }
        header .navbar__busqueda__local__buscar {
          font-size: 1.5em;
          margin: 0.2rem 0.5rem; }
      header .navbar__busqueda__item {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: stretch; }
        header .navbar__busqueda__item__varios {
          padding: 0.3rem;
          margin-left: 2rem;
          font-size: 1.2em;
          color: #942e2e; }
    header .navbar__carrito {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5em;
      margin: 0.3rem 0.5rem;
      transition: all .3s ease-in-out; }
      header .navbar__carrito:hover {
        transform: scale(1.1, 1.1); }
      header .navbar__carrito__img {
        font-size: 2.2em; }
  header .navbar2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.3rem; }